@model IEnumerable<DataEntry_Tracker.Models.CommonModel>

    <div class="box" style="overflow-x:auto">
            <table class="table table-striped" id="requestTableList" >
                <thead>
                    <tr>
                        <th>Request Id</th>
                        <th>Unit Name</th>
                        <th>Buyer Name</th>
                        <th>Style Name </th>
                        <th>Request By</th>
                        <th>No Of Task</th>
                        <th>Pending</th>
                        <th>CoOrdinator</th>
                        <th>Create Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                        <tr id="@item.RequestId">
                            <td>@item.RequestId</td>
                            <td>@item.UnitName</td>
                            <td>@item.BuyerName</td>
                            <td>@item.StyleName</td>
                            <td>@item.UserName</td>
                            <td>@item.RivisionNo</td>
                            <td style="color:red">@item.Progress</td>
                            <td >@item.CoordinatorName</td>
                            <td>@item.CreateDate.ToString("dd MMM yyyy h:mm tt")</td>
                            <td> <button type="button" class="btn  btn-block btn-success btn-sm" onclick="AdminGetDetails(@item.RequestId)">Tasks</button></td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
    </div>

<script type="text/javascript">
   
</script>